@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: rgb(249 115 22);
  color: white;
  font-weight: bold;
}
